.content-body {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: auto;
  padding-top: 1em;
  padding-bottom: 1em; }
  .content-body > section.login-form {
    flex: 0 1 100%;
    margin-bottom: 3em; }
    .content-body > section.login-form [class*='col-'] {
      padding: 0; }
  .content-body > section.register-form {
    flex: 0 1 100%; }
  .content-body .validation-summary > ul {
    padding-left: 20px; }
  .content-body .btn.btn-primary {
    width: 100%; }

@media (min-width: 576px) {
  .content-body {
    padding-top: 2em;
    padding-bottom: 2em; }
    .content-body > section.login-form {
      flex-basis: 30%;
      margin-right: 6em;
      margin-bottom: 0; }
    .content-body > section.register-form {
      flex-basis: 50%;
      margin-bottom: 0; }
    .content-body .btn.btn-primary {
      width: auto; } }
